/*
lime-green:             CFFFB3
air-superiority blue:   7CA5B8
nyanza:                 EDFFD9



*/

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
}

#logo {
  height: 80px;
  width: 80px;
}

header {
  position: sticky;
  top: 0;
  border: 2px grey solid;
  background-color: #cfffb3;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#logo-box {
  gap: 10px;
}

h1 {
  font-size: 50px;
  padding: 1rem;
  margin: 1rem;
}

/* ******************************************************* */

nav {
  float: left;
  width: 20%;
  padding: 10px;
  padding-top: 15px;
}

/* Styling the images inside the nav */
nav img {
  opacity: 0.8s;
  cursor: pointer;
}

nav img:hover {
  opacity: 1;
}

/* Clear floats after the nav */
.main-box:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.picture-container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgText {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
